@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('/public/minecraft-alt.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Minecraft', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
}

@layer base {
  html {
    font-family: 'Minecraft', monospace;
  }
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-in {
  opacity: 0;
  animation: fadeSlideIn 0.5s ease-out forwards;
}

.delay-0 { animation-delay: 0s; }
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
